@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  padding: 0;
}

.DraftEditor-root {
  padding: 0 16px;
}