.profile__page {
    width: 1070px;
    align-self: center;
}

.profile__title {
    font-family: "Playfair Display", serif;
    margin-bottom: 64px;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.profile {
    display: flex;
    gap: 40px;
}

.profile__form__input_name {
    display: flex;
    gap: 32px;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.textarea {
    resize: none;
    width: 654px;
    height: 140px;
    padding: 15px 10px;
    margin-bottom: 48px;
}

.textarea__text {
    font-family: "IBM Plex Sans", sans-serif;
    color: #242424;
    font-size: 0.875rem;
    margin-bottom: 12px;
}

.textarea:active, .textarea:hover, .textarea:focus {
    border: 1px solid #8C8C8C;
    outline: none;
}