.article__container {
    width: 1070px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 40px;
}

.articles__undefined {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    line-height: 2.5em;
}

.not__found__section {
    display: flex;
    font-size: 0.5rem;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .article__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
    }
}

@media screen and (max-width: 750px) {
    .article__container {
        width: 400px;
    }
}
