@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
}

button:hover {
    cursor: pointer;
}

.button__outlined__header {
    background: transparent;
    border: 1px solid #242424;
}

.button__contained__header {
    background: #242424;
    border: none;
    color: white;
}

.button__outlined__footer {
    color: #EBEBEB;
    background: transparent;
    border: none;
}

.button__contained__footer {
    background: #242424;
    border: 1px solid #EBEBEB;
    color: #EBEBEB;
}

.button__outlined__header:disabled {
    cursor: default;
    color: #242424;
    opacity: 25%;
}

.button__contained__login {
    width: 100%;
    margin: 16px 0 24px 0;
    background: #242424;
    border: none;
    color: white;
}

.button__contained__login:disabled {
    opacity: 50%;
    cursor: default;
}

.button__nolined__header {
    background: transparent;
    border: none;
    color: #8C8C8C;
    padding: 0.5rem 0;
    margin: 0 20px;
}

.button__nolined__footer {
    color: #EBEBEB;
    background: transparent;
    border: none;
    padding: 0.5rem 0;
    margin: 0 20px;
}

.button__active__nolined__header{
    border-bottom: 2px solid #242424;
    color: rgba(36, 36, 36, 1);
}