.editor__section {
    display: flex;
    flex-direction: column;
    width: 1070px;
    align-self: center;
}

.editor {
    font-family: "IBM Plex Sans", sans-serif;
    border: 1px solid #8C8C8C;
    min-height: 335px;
    margin-bottom: 48px;
}

.title {
    font-family: "Playfair Display", sans-serif;
    color: #242424;
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 64px;
}

.editor__section {
    display: flex;
    flex-direction: column;
    width: 1070px;
    align-self: center;
}

.editor {
    font-family: "IBM Plex Sans", sans-serif;
    border: 1px solid #8C8C8C;
    min-height: 335px;
    margin-bottom: 48px;
}

.title {
    font-family: "Playfair Display", sans-serif;
    color: #242424;
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 64px;
}

.upload {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}

.upload__button {
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {
    .editor__section {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .editor__section {
        width: 400px;
    }
}
